In [7]:
# Add Pandas and os packages
import pandas as pd
import os

# Save paths to load data files
school_data_load = os.path.join(".","Resources","schools_complete.csv")
student_data_load = os.path.join(".","Resources","students_complete.csv")

# Read school data file and store it in a data frame
school_data_df = pd.read_csv(school_data_load)

# Read the student data file and store it in a Pandas DataFrame.
student_data_df = pd.read_csv(student_data_load)
student_data_df.tail()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75